{% extends 'main/base.html' %}


{% block content %}

    
   {% include 'main/nav.html' %}
   

   <div class="top">
      <h1>Top articles</h1>
   </div>

   
   
   <div class="cards">
    
    {% for article in posts %}
      
         {% include 'main/card.html' %}  
       
    {% endfor %}
   </div>


   <a href="{% url 'allarticles' %}">
      <button class="button">See all articles</button>
   </a>

   <div class="copyright">
      <p class="contact">contact us</p>
      <ul class="socials">

         <li><a href="https://www.facebook.com/ganeshsonwale18"><i class="fa fa-facebook"></i></a></li>
 
         <li><a href="https://github.com/Ganu1811"><i class="fa fa-github"></i></a></li>
 
         <li><a href="https://www.instagram.com/_ganesh_sonwale_/"><i class="fa fa-instagram"></i></a></li>
  
         <li><a href="https://www.linkedin.com/in/ganesh-sonwale-714730228/"><i class="fa fa-linkedin-square"></i></a></li>
 
       </ul>
       <p>gsonwale18@gmail.com</p>
      <p>&copy; 2023 Myblog. All rights reserved.</p>
       
       
   </div>


   <style>
      .top{
         position: absolute;
         left: 50%;
         margin-top: 50px;
         transform: translate(-50%,-50%);
         color: white;
      }
      .button{
         position: absolute;
         top: 90%;
         left: 45%;
         background-color: white;
         color: black;
         border-radius: 50px;
         width: 160px;
         height: 50px;
         transition: all 0.5s;
      }
      .cards{
         position: absolute;
         top: 50%;
         height: 250px;
         left: 50%;
         width: 1300px;
         display: flex;
         transform: translate(-50%,-50%);
      }
      
      .button:hover{
         transform: scale(1.05);
      }
      .copyright {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         text-align: center;
         margin-top: 48%;
         color: white;
         height: 300px;
         padding-bottom: 50px;
      }
      .contact{
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         text-align: center;
         font-size: 40px;
      }
      .socials {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      }
      .socials li {
      margin: 0 10px;
      }
      .socials a {
      text-decoration: none;
      color: #fff;
      padding: 5px;
      }
      .socials a i {
      font-size: 1.1rem;
      width: 20px;
      transition: color 0.4s ease;
      }
      .socials a:hover i {
      color: aqua;
      }

      /* Responsive Styles */

      @media only screen and (max-width: 601px) {
         .cards {
            flex-direction: column;
         }

      }
         
      @media only screen and (max-width: 768px) {
         .cards {
            flex-direction: column;
            
         }

         .button {
            left: 50%;
            transform: translateX(-50%);
         }
      }

      @media only screen and (max-width: 480px) {
         .contact {
            font-size: 30px;
         }
      }
   </style>

   

   

{% endblock %}